@charset "utf-8";
/*모바일용 CSS*/
#wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
/* 공통 */
#subKeyimage img, #summary img, #process img { /* 이미지 반응형*/
	width: 100%;
	height: auto;
}

section, #manuTab {
	width: 84.375%;
	height: auto;
}
/* 서브 키이미지, 사이트 경로 */
#subKeyimage {
	width: 84.375%;
	/* padding-top: 178px; */
	/* background-image: url("../images/subpage/donate/donate_subimage.jpg");
		background-repeat: no-repeat center;
		background:cover; */
}

#subKeyimage h1, #subKeyimage h2, #subKeyimage h3 {
	position: relative;
	color: white;
	font-family: 'Jal_Haru';
}

#subKeyimage h1 { /*MOM's 나눔터*/
	top: -110px;
	font-size: 16px;
	text-align: center;
}

#subKeyimage h2 { /*이웃에게 사랑을 나눠주세요*/
	top: -80px;
	font-size: 16px;
	text-align: center;
	padding-bottom: 26px;
}

#subKeyimage h3 { /*메인 > MOM's 나눔터 > 물품 기부하기*/
	top: -90px;
	left: 10px;
	font-size: 12px;
	text-align: left;
}

/*칼럼탑라인, 정렬순서*/
#topList {
	width: 100%;
	height: 60px;
	margin-top: -75px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-family: 'InfinitySans-RegularA1';
	border-bottom: 3px solid #3A8B5A;
}

#topList>h1 {
	width: 70%;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	margin: 0;
}

#topList>form {
	width: 30%;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	padding-right: 10px;
	margin: 0;
	text-align: right;
}

/* 다이어리 */
.diaryGroup {
	width: 100%;
	height: auto;
	margin: 30px 0;
	display: flex;
	flex-flow: row wrap;
	justifiy-content: space-between;
}

.diaryCard {
	width: 46%;
	height: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: column;
}

.diaryCard img {
	width: 100%;
	height: 170px;
}

.diaryInfo {
	width: 100%;
	font-family: 'NanumBarunGothic';
}

.diaryInfo h1 {
	width: 100%;
	margin-top: 5px;
	font-size: 18px;
	height: 47px;
	font-weight: normal;
}

.diaryInfo .writer {
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	margin: 5px auto;
}

.diaryInfo .date {
	width: 100%;
	font-size: 16px;
	color: #7F7F7F;
	font-weight: normal;
}

#topList select {
	width: 100px;
	height: 25px;
}

/*-------------------페이징 영역--------------*/
.paging {
	text-align: center;
	font-size: 0;
	margin-top: 20px;
}

.paging li {
	display: inline-block;
	vertical-align: middle;
}

.paging li a {
	font-size: 14px;
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #898786;
}

.paging li.on a, .paging li a:hover {
	color: #3A8B5A;
	text-decoration: underline;
}

.paging li.first a, .paging li.prev a, .paging li.next a, .paging li.last a
	{
	overflow: hidden;
	margin: 0 2px;
	width: 30px;
	height: 30px;
	border: 1px solid #ebeae9;
	color: transparent;
	background: no-repeat center;
}

.paging li.first a {
	background-image: url(../images/icon/ico_paging_first.png);
}

.paging li.prev a {
	background-image: url(../images/icon/ico_paging_prev.png);
}

.paging li.next a {
	background-image: url(../images/icon/ico_paging_next.png);
}

.paging li.last a {
	background-image: url(../images/icon/ico_paging_last.png);
}

.paging li.prev a {
	margin-right: 23px;
}

.paging li.next a {
	margin-left: 23px;
}
#writeButton {
	display: block;
	width: 300px;
	height: 50px;
	background-color: #3A8B5A;
	text-align: center;
	line-height: 50px;
	margin-top: 35px;
	color: white !important;
	font-family: 'InfinitySans-RegularA1';
}
/*테블릿용 CSS*/
@media all and (min-width:768px) {
	#subKeyimage h1 { /*MOM's 나눔터*/
		top: -150px;
		font-size: 20px;
		text-align: center;
	}
	#subKeyimage h2 { /*이웃에게 사랑을 나눠주세요*/
		top: -120px;
		font-size: 20px;
		text-align: center;
		padding-bottom: 16px;
	}
	#subKeyimage h3 { /*메인 > MOM's 나눔터 > 물품 기부하기*/
		top: -90px;
		left: 10px;
		font-size: 12px;
		text-align: left;
	}
	.diaryGroup {
		width: 100%;
		height: auto;
		margin: 30px 0;
		display: flex;
		flex-flow: row wrap;
		justifiy-content: space-between;
	}
	.diaryCard {
		width: 46%;
		height: 350px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;
		flex-flow: column;
	}
	.diaryCard img {
		width: 100%;
		height: 200px;
	}
	.diaryInfo {
		width: 100%;
		font-family: 'NanumBarunGothic';
	}
	
}
/*PC용 CSS*/
@media all and (min-width:1030px) {
	#subKeyimage h1 { /*MOM's 나눔터*/
		top: -180px;
		font-size: 28px;
		text-align: center;
	}
	#subKeyimage h2 { /*이웃에게 사랑을 나눠주세요*/
		top: -150px;
		font-size: 28px;
		text-align: center;
		padding-bottom: 0;
	}
	#subKeyimage h3 { /*메인 > MOM's 나눔터 > 물품 기부하기*/
		top: -90px;
		left: 10px;
		font-size: 12px;
		text-align: left;
	}
	.diaryGroup {
		width: 100%;
		height: auto;
		margin: 30px 0;
		display: flex;
		flex-flow: row wrap;
		justifiy-content: space-between;
	}
	.diaryCard {
		width: 48%;
		height: 100px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;
		flex-flow: row nowrap;
		justifiy-content: space-between;
	}
	.diaryCard img {
		width: 160px;
		height: 100px;
	}
	.diaryInfo {
		width: 60%;
		font-family: 'NanumBarunGothic';
	}
}