@charset "utf-8";
/*모바일용 CSS*/
#header{
	display: none;
}
/*토글 추가 2021-05-22*/
#talkToggle{
	/*display:none;*/
}
#alertDiv{
	width:100%;
	border-top: 1px solid #979797;
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	z-index:10;
	display:none;
	text-align:right;
	margin:0;
	background-color:white;
}
.alertInfo{
	width:100%;
	height:50px;
	line-height:20px;
	text-align:left;
	box-sizing: border-box;
	padding:5px;
	border-bottom: 1px solid #979797;
}
.show{display:block !important;}
/* 반응형 모바일 헤더 */
#responsive{
	width: 100%;
	margin: 1px;
}
#R_top{
	width: 100%;
	height: 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 1px solid #797979;
}
#R_search{
	width: 100%;
	height: 80px;
	z-index: 1;
	text-align: center;
}
#R_search form{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.leftmenu{
	width: 60px;
	height: 60px;
	margin: 0;
	text-align: center;
	line-height: 60px;
	border-right: 1px solid #797979;
}
.rightmenu{
	width: 60px;
	height: 60px;
	margin: 0;
	text-align: center;
	line-height: 60px;
}
.middle{
	width: 50%;
	height: 55px;
	text-align: center;
	padding-top: 5px;
}
.middle img{
	width: 100px;
	height: 40px;
	margin-top: 5px;
}
/* 토글 */
#toggle1{
	display:none;
}
#R_dropdown{display: none;}
#toggle1:checked + #R_dropdown{
	display: flex;
}
/* ---- */
/* 반응형 드롭다운 메뉴 */
#R_dropdown{
	width: 100%;
	height: 330px;
	background-color: white;
	border-bottom: 1px solid #797979;
	position: relative;
	flex-flow: row nowrap;

	text-align: center;
	font-size: 14px;
	font-family: 'Jal_Haru';
}
.leftmenu img{
	margin-top:19px;
}
/* 드롭다운 안쪽 */
#R_left{
	width: 50%;
	height: 330px;
	border-right: 1px solid #797979;

	display: flex;
	flex-flow: column;
}
.ctgtop{
	font-size: 16px;
	font-family: 'yg-jalnan';
}
.R_left_ctg{
	width: 100%;
	height: 47.142857px;
	line-height: 47.142857px;
	border-bottom: 1px solid #797979;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.R_left_ctg p, .R_left_ctg_last p{
	width: 60%;
}
.R_left_ctg img, .R_left_ctg_last img{
	width: 20px;
	height: 20px;
	margin-top:13.5714285px;
	margin-bottom:13.5714285px;
}
.R_left_ctg_last{
	width: 100%;
	height: 47.142857px;
	line-height: 47.142857px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

}
#R_right{
	width: 50%;
	height: 330px;

	display: flex;
	flex-flow: column;
}
.R_right_block1{
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.R_right_block2{
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.R_right_block2 a{
	width: 50%;
	height: 50px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.R_right_block2 a img{
	width: 20px;
	height: 20px;
	margin: 15px 5px;
}
.R_right_block2 a p{
	margin: 0;
}
.R_right_block3{
	width: 100%;
	height: 220px;
	display: flex;
	flex-flow: column;
}
.R_right_block3 a{
	width: 100%;
	height: 44px;
	line-height: 44px;
}
.R_right_sub_sell{
	font-size: 16px;
	background-color: #3A8B5A;
	color: white;
}


/* 검색 */
#R_search form input, #R_search form div{
	margin: 0px;
} 
#R_searchText{
	width: 50%;
	height: 28px;
	border-right: 0;
	border-left: 3px solid #3A8B5A;
	border-top: 3px solid #3A8B5A;
	border-bottom: 3px solid #3A8B5A;
}
#R_search{
	margin-top: 30px;
}
#R_searchButton a img{
	width: 28px;
	height: 28px;
}


/*----------------*/

	
/*테블릿용 CSS*/
@media all and (min-width:768px){
	
}
/*PC용 CSS*/
@media all and (min-width:1030px){
	#wrap {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}
	#header{
		width: 100%;
		display: block;
		/*
		헤더 고정 코드인데 반응형에서 깨져서 나중에 
		position:fixed;
		z-index:10000;
		
		*/
	}
	/* 반응형 헤더 display:none */
	.leftmenu label{
		display: none;
	}

	#responsive{
		display: none;
	
	}
	/* 4/13 로그인 후 추가  */
	#loginBar{
		width:100%;
	}
	#profileBar{
		padding-top: 10px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	#messengerIcon, #bellIcon{
		float: left;
		width: 65px;
	}
	#messengerIcon img, #bellIcon img{
		float: left;
		padding-top:10px;
		width: 20px;
		height: 20px;
	}
	/*윗쪽 네비게이션*/
	#topNav{
		width: 84.375%;
		height: 100px;
	}
	#topNav ul{ 
		display: flex; /*가로로 정렬*/
		justify-content: space-between; /*가로로 공백정렬*/
	}
	#topline{ /*위, 아래 네브 반투명 구분줄*/
		border-bottom: solid 1px #D7D7D7;
	}
	#topNav ul li:nth-child(1){
		width: 27.77777%;
		height: 100px;
		text-align: center;
	}
	#topNav #logo{
		margin-top:18px;
	}
	#topNav ul li:nth-child(2) {
		width: 46.296296%;
		height: 100px;
		text-align: center;
	}
	#topNav form{
		display: block;
	}
	#topNav #searchText{
		width: 80%;
		height: 29px;
		/* border: 3px #3A8B5A solid; */
		border-top: 3px #3A8B5A solid;
		border-bottom: 3px #3A8B5A solid;
		border-left: 3px #3A8B5A solid;
		border-right: 0;
		box-sizing: content-box;
		margin-top:39px; 
		float: left;
	}
	#topNav #searchButton{
		margin-top:39px; 
		float: left;
	}
	#topNav #searchButton img{
		width: 35px;
		height: 35px;
	}
	#topNav ul li:nth-child(3){
		width: 25.925925%;
		height: 90px;
		padding-top: 10px;
		text-align: center;
	}
	#topNav #log_register_customer{
		font-size: 0.875em;
		font-family: 'InfinitySans-RegularA1';
	}
	/*아래 네비게이션*/
	#bottomNav{
		width: 84.375%; /*1080px*/
		height: 50px;
	}
	#bottomNav ul{
		display: flex; /*가로로 정렬*/
		justify-content: space-between; /*가로로 공백정렬*/
	}
	#bottomNav ul li:nth-child(1) {
		width: 20%; /*216px*/
		height: 49px;
		text-align: center;
		border-right: 1px #D7D7D7 solid;
		border-left: 1px #D7D7D7 solid;
	}
	#bottomNav ul li:nth-child(1) a{
		display: flex; /*가로로 정렬*/
		justify-content: center; /*공백좌우 가운데정렬*/
	}
	/*category 1,2,3 = MOM's마켓 사진-글-사진 배열*/
	#category1{
		width: 20px;
		height: 17px;
	/*	width: 20px;*/
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 4.629629%;
	}
	#category2{
		width: 70.37037%;
	/*	width: 152px*/
		height: 49px;
		font-size: 1.125em;
		font-family: 'yg-jalnan';
		text-align: center;
		line-height: 47px;
	}
	#category3{
	/*	width: 13.888888%;*/
		text-align: center;
		padding-top: 16px;
		padding-right: 1.851851%;
		padding-bottom: 16px;
	}

	/*
	#bottomNav ul li:nth-child(1) img{
		width: 100%;
		max-width: 100%;
	}
	*/
	#mainmenu #mainlist2, #mainlist3, #mainlist4, #mainlist5 {
		width: 13.888888%;
		height: 49px;
		margin-left: 2.222222%;
		font-size: 1em;
		font-family: 'Jal_Haru';
		font-weight: bold;
		line-height: 49px;
		text-align: center;

	}
	#mainmenu #mainlist6 {
		width: 20%;
		height: 49px;
		margin-left: 2.222222%;
		background-image:url("images/sell.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		text-align: center;
		line-height: 46px;
	}
	#mainmenu #mainlist6 a{
		width: 100%;
		font-size: 1em;
		font-family: 'Jal_Haru';
		font-weight: bold;
		color: white;
	}
	/*----------------카테고리 드롭다운 메뉴------------	*/
	#submenu{
		display: flex;
		flex-flow: column;
	}
	#submenu li{
		width: 100%;
		margin: 0;
		padding: 0;
		height: 0;
		opacity: 0;
		line-height: 0;
		transition: 0.2s;
		font-size: 14px;
		display: none;
	}
	#mainmenu li:hover #submenu li {
		z-index: 30;
		margin-top: -2px;
		margin-left: -1px;
		width: 100%;
		height: 50px;
		line-height: 50px;
		opacity: 1;	
		font-family:'InfinitySans-RegularA1';
		font-size: 14px;
		font-weight: normal;
		text-align: left;
		background-image: none;
		color: black;
		background-color: white;
		border: 1px solid #D7D7D7;
		display: block;
	}
	/* #submenu a:link, #submenu a:visited {
		color: black;
		text-decoration: none;	
	} */
	#submenu li a img{
		width: 26px;
		height: 26px;
		margin:12px 15px 0 15px;
	}
}

























