@charset "utf-8";
/*모바일용 CSS*/
#wrap {
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}
header{
/*	order: 0;*/
	display: flex;
	flex-direction: column;
	width: 100%;
}

/*테블릿용 CSS*/
@media all and (min-width:768px){
	#wrap {
		flex-flow: row wrap;
	}
	#boxslider ul li{
	}
}
/*PC용 CSS*/
@media all and (min-width:1030px){
	#wrap {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}

	/*--------------로그인---------------*/
	#login{
		padding-top: 150px;
		text-align: center;
		font-family: "InfinitySans-RegularA1";
	}
	#login h1{
		font-size: 50px;
	}
	#input{
		width: 305px;
		height: 250px;
	}
	#input_id{
		width: 100px;
		float: left;
		font-size: 20px;
	}
	#input_pw{

		width: 100px;
		float: left;
		font-size: 20px;
	}
	#input form .loginInput{

		width: 200px;
		height: 25px;
		float: left;
	}
	#input form #loginText{
		float: left;
		margin-left: 5px;
		margin-top: 30px;
		width: 300px;
		height: 20px;
	}
	#input form #buttonLogin{
		float: left;
		margin-left: 5px;
		margin-top: 30px;
		width: 300px;
		height: 50px;
	}
	#input form #buttonInsert{
		float: left;
		margin-left: 5px;
		margin-top: 10px;
		width: 300px;
		height: 50px;
	}

	
	
	
	
}

























