@charset "utf-8";
/*모바일용 CSS*/
#wrap {
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}
header{
/*	order: 0;*/
	display: flex;
	flex-direction: column;
	width: 100%;
}

/*테블릿용 CSS*/
@media all and (min-width:768px){
	#wrap {
		flex-flow: row wrap;
	}
}
/*PC용 CSS*/
@media all and (min-width:1030px){
	#wrap {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}
	section{
		width: 84.375%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		font-family: 'InfinitySans-RegularA1';
	}

	/* 좌측블럭, 우측블럭 css */
	#leftSide{
		width: 22%;
		margin: 0px 0.1px 0.1px 0.1px;
	}
	#rightSide{
		width: 75%;
		margin: 0px 0.1px 0.1px 0.1px;
	}

	/* 웹경로 */
	#webnav{
		width: 100%;
		margin-top: 37px;
		margin-bottom: 30px;
		font-size: 14px;
		font-family: 'InfinitySans-RegularA1';
		line-height: 14px;
	}

	/* 프로필 */
	#profile{
		width: 100%;
		height: 270px;
		border: 2px solid #aaaaaa;
		box-sizing: border-box;
		border-radius: 5px;
	}
	#profile > h1{ /*닉네임*/
		width: 85%;
		font-size: 18px;
		color: #3A8B5A;
		margin-top: 25px;
	}
	#profile > p{ /*인삿말*/
		width: 85%;
		height: 100px;
		margin-top: 10px;
		padding: 10px 0;
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
	}
	#uploadProduct, #score{ /*등록상품란*/
		width: 85%;
		height: 30px;
		margin-top: 10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	#uploadProduct h1, #uploadProduct h2, #score h1, #score > div{ /*등록상품 텍스트*/
		width: 50%;
		height: 30px;
		font-size: 14px;
	}
	#uploadProduct h2{text-align: right;}
	
	/* 마이페이지 메뉴 */
	#mypageMenu{
		width: 100%;
		margin-top: 30px;
	}
	#mypageMenu li{
		width: 100%;
		height: 58px;
		box-sizing: border-box;
		border-right: 1px solid #aaaaaa;
		border-left: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		overflow: hidden;
	}
	#mypageMenu ul li a{
		line-height: 58px;
		padding: 20px 30% 20px 10px;
	}
	#mypageMenu #nowPage{
		border: 2px solid #3A8B5A;
	}
	/* 오른쪽 블럭 제목, 정렬 */
	#topbar{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	#title{
		width: 50%; 
		font-size: 20px;
	}
	#productOrder{
		width: 50%;
		text-align: right;
	}

	/*--------------------상품카드--------------- */
	/*상품카드	*/
	#productGroup{
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.productCard{ 
		width: 248px;
	/*	width: 22.962962%;*/
		height: 285px;
		margin:0px 20px 50px 0px;
	}
	.productCard img:hover{
		transform:scale(1.1); 
	}
	.productCard img{ /*이미지 248px 고정*/
		width: 248px;
		height: 210px;
		border: 0;
		transition:all 0.5s ease;
	}
	#imgmom{
		overflow: hidden;
	}
	.productCard #imgmom{
		height: 210px;
	}
	.productInfo{ /*상품정보 부모요소*/
		height: 90px;
		margin-top: -4px;
		border-left: 1px solid #D7D7D7;
		border-right: 1px solid #D7D7D7;
		border-bottom: 1px solid #D7D7D7;
		box-sizing: border-box;
	}
	.productInfo div a{ /*상품정보 제목*/
		width: 67%;
		height: 40px;
		overflow: hidden;
		padding-top: 8px;
		padding-left: 10px;
		margin-right:3%;
		font-size: 14px;
		font-weight: bold;
	}
	.productInfo div h2{ /*상품정보 조회수*/
		margin-right: 3%;
		padding-top: 8px;
		width: 27%;
		font-size: 12px;
	}
	.productInfo div h3{/*상품정보 날짜*/
		margin-left: 3%;
		padding-top: 3px;
		width: 27%;
		font-size: 12px;
	}
	.productInfo div h4{/*상품정보 가격*/
		width: 67%;
		text-align:right;
		margin-right:3%;
		font-size: 22px;
	}


	/*-------------------페이징 영역--------------*/
	.paging { text-align: center; font-size: 0; margin-top: 20px;}
	.paging li { display:inline-block; vertical-align: middle;}
	.paging li a { font-size: 14px; display: block; width: 32px; height: 32px; line-height: 32px; color: #898786;}
	.paging li.on a,
	.paging li a:hover { color: #3A8B5A; text-decoration: underline;}
	.paging li.first a,
	.paging li.prev a,
	.paging li.next a,
	.paging li.last a { overflow: hidden; margin: 0 2px; width: 30px; height: 30px; border:1px solid #ebeae9; color: transparent; background: no-repeat center; }
	.paging li.first a { background-image:url(../images/icon/ico_paging_first.png);}
	.paging li.prev a { background-image:url(../images/icon/ico_paging_prev.png);}
	.paging li.next a { background-image:url(../images/icon/ico_paging_next.png);}
	.paging li.last a { background-image:url(../images/icon/ico_paging_last.png);}
	.paging li.prev a { margin-right:23px;}
	.paging li.next a { margin-left:23px;}
}

























